body{

    background-color: rgb(240, 221, 221);
}


.monLogo{

    
    margin-top: 10%;
    width: 100%;
    padding-top: 5%;

}
.span1{
    display: flex;
    justify-content: center;

}
.slogan{

    text-align: center;
    font-size: 20px;
}
.boutton{

    background-color: rgba(193, 195, 199, 0.356);
    border: none;
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none; /* enlever le soulignement 'un lien */
    display: inline-block; /* liensous forme de bloc et non de text */
    font-size: 1rem;
    border-radius: 2rem;
    margin: 4px 2px;
    width: 200px;
}
.mesBouttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    width: 250px;
    height: 225px;
    margin-top: 3rem;
    
    
}
.bouttonPage2{
    background-color: #2d176ac1;
    border: none;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none; /* enlever le soulignement 'un lien */
    display: inline-block; /* liensous forme de bloc et non de text */
    font-size: 1rem;
    border-radius: 2rem;
    margin: 4px 2px;
    width: 200px;
   
}
input[type="text"]{

    height: 30px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(16, 15, 15, 0.781);
    color: #fff;
}
#mot2passOublier{

    text-align: right;
    font-size: 10px;

}
#creerUnCpmpte{

    text-align: right;
    font-size: 10px;


}
.monLogopage3{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 55%; 
    margin-top: 1%;
}

.iconeRetour{

    width: 40px;
    height: 40px;
    padding-top: 8%;
    margin-left: -5%;
    margin-top: -6%;

}

.reinitialisation2Mot2Pass{

    background-color:rgba(45, 23, 106, 0.81);
    border-radius: 20px;
    width: 300px;
    height: 50px;
    margin-left: 5%;
    margin-top: 5%;

}
.monphone{

    background-color:#fff;
    border-radius: 20px;
    width: 340px;
    height: 585px;
    border-color: black;
    margin-left: 35%;
    margin-top: 5%; 
    
}
.div1pageindex{

    margin-top: 10%;
}
.div1page2{
    margin-top: -7%;

}
#icone1{

    width: 30px;
    padding-top: 10%;
    margin-left: 5%;

}
#icone2{

    width: 30px;
}
#icone3{

    width: 30px;
}
#icone4{

    width: 30px;
}
.iconePhone{

    margin-top: -11%;
    margin-left: 65%;


}
#nosProduit{

    text-align: center;
    font-size: 25px;
    margin-top: -12%;
    margin-left: -10%;
    color: #fff;

}
.bouttonPage3{

    background-color: #2d176ac1;
    border: none;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none; /* enlever le soulignement 'un lien */
    display: inline-block; /* liensous forme de bloc et non de text */
    font-size: 1rem;
    margin-left: -18%;;
    width: 309px;
    margin-top: -100%;
}
.nosProduit2{

    width: 100%;
}

.nosPrduit1{
    width: 100%;
}

.mesProduits{

    font-size: 10px;
    margin-top: 3%;

}
#mot2pass{

    text-align: right;
    font-size: 16px;
    margin-top: -10%;
    margin-right: 10%;
    color: #fff;

}

.iconeRetourPage4{

    width: 40px;
    height: 40px;
    padding-top: 8%;
    margin-right: 80%;
    margin-top: -6%;

}
.monLogopage4{

    width: 127px;
    height: 120px;
    border-radius: 50%;
    margin-left: 30%; 
    margin-top: 4%;
}
.bouttonSoumettrePage4{

    background-color: #2d176ac1;
    border: none;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none; /* enlever le soulignement 'un lien */
    display: inline-block; /* liensous forme de bloc et non de text */
    font-size: 1rem;
    border-radius: 2rem;
    margin: 8px;
    width: 200px;
    margin-top: -100%;

}
#phrase1Page4{

    font-size: 15px;
    text-align: left;

}
#inputmot2passPaga4{

    height: 30px;
    border-radius: 20px;
    background-color: rgba(205, 199, 199, 0.781);
    color: #000;
}
#account{
    width: 30px;
    margin-left: 5%;
}
#setting{
    width: 30px;
    margin-left: 70%;
}
.div1Page5{

    margin-top: 10%;

}
.monLogopage5{

    width: 70px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40%; 

}
.div2Page5{

    width: 300px;
    height: 150px;
    background-color: #2d176adc;
    border-radius: 5%;
    margin-left: 6%;
    margin-top: -8%;
    text-align: center;
    color: #fff;

}
.voiture3{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40%; 


}
.voiture2{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40%; 

}
.voiture1{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40%; 

}
.div3Page5{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin-left: 15%;
    margin-top: 10%;

}
#ConsulterNosOffres{
    font-size: 20px;
    margin-top: 5px;

}
#obtenez1Devis{
    font-size: 10px;
    margin-top: -5%;
}
.faireUneSimulation{
    background-color: rgba(227, 223, 223, 0.343);
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin-left: 15%;

}
.monLogoPage2{

    margin-top: 10%;
    width: 100%;
}
.inputPage4{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    width: 250px;
    height: 225px;
    margin-top: -10%;

}
#faireUneSimul{

    margin-top: -7%;
    font-size: 10px;
}
.div5Page5{

    width: 100%;
    height: 130%;
    margin-top: -4%;

}
#ProuitsEtFormule{

    text-align: left;
    color: #000;
    font-size: 15px;
    margin-top: 11%;

}
.mesBouttonsPage5{

    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
}
.boutton1Page5{

    background-color: #B5ADAD ;
    height: 5px;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    margin-top: 11%;
    margin-left: 4%;
    position: relative;

   
}
.boutton2Page5{

    background-color: #B5ADAD ;
    height: 5px;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    margin-left: 53%;
    margin-top: -13%;
}

#nosProuit{

    color: #D61BA1;
    font-size: 15px;
    text-decoration: none;
    
}
#nosFormule{

    color: #D61BA1;
    font-size: 15px;
    text-decoration: none;
    margin-right: 10%;
}
.Call{

    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 15%; 
}
#callCenter{

    text-align: center;
    color: #000;
    font-size: 15px;
    margin-top: -1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.monMenu{

    background-color: #c8141439;
    width: 100%;
    height: 20%;  
    border-radius: 5px;
       
}
#Acceuil{

    width: 30px;
    margin-top: 59%;
    margin-left: -12%;
    
    
}
#note2{

    width: 30px;
    margin-top: 59%;
    margin-left: 8%;

    
}
#add{

    width: 30px;
    margin-top: 59%;
    margin-left: 8%;
    
    
}
#contrats{

    width: 30px;
    margin-top: 59%;
    margin-left: 8%;
    
}.Acc{

   margin-left: 25%;

}
#Inscription{

    text-align: center;
    font-size: 2rem;
    margin-top: -13%;
    margin-right: -2%;
    color: #fff;

}
.monLogopageInscription{

    width: 70px;
    height: 50px;
    border-radius: 50%;
    margin-left: 70%;
    margin-top: -50%; 

}
.bouttonSuivantPageInscription{

    background-color: #2D176A;
    border: none;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 100px;
    height: 5px;
    position: relative;
    margin-left: 30%;

}
.monBoutonSuivant{

    position: relative;
    text-align: center;
    margin-top: -8%;
   
}
#suivantSuivant{

    text-decoration: none;
    color: #fff;

}
 strong{
    margin-bottom: 12px;
    text-align: center;

}
.inputPageInscription{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    width: 250px;
    height: 300px;
    margin-top: -10%;

}
p,
label {
    font: 0.7rem 'Fira Sans', sans-serif;
    text-align: center;
}

input {
    margin: 0.4rem;
}
.inputPageSecondInscription{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    width: 250px;
    height: 250px;
    margin-top: -15%;

}
.bouttonCreerUnComptePageInscription{

    background-color: #2D176A;
    border: none;
    padding: 1rem;
    text-decoration: none; /* enlever le soulignement 'un lien */
    border-radius: 2rem;
    margin-left: 23%;
    width: 150px;
    height: 5px;
    margin-top: 10%;

}
.CreerUnCompte{

    
    margin-left: 10%;
    text-align: center;
    margin-top: -8%;
    margin-left: -1%;
    
}
#monLienDeCreationDeCompte{

    color: #fff;
    text-decoration: none;

}
#profil{

    font-size: 2rem;
    color: #000;
    
    
}
.monProfil1{

    text-align: left;
    margin: 1rem;
    color: #D61BA1;
         
}
.bonHommeProfil{

    width: 150px;
    margin-left: 50%;
    margin-top: -40%;
    position: relative;
   
}
.ajouterPhotoProfil{

    position: relative;
    margin-left: 80%;
    margin-top: -15%;
    
}
#addPhotoProfil{
    width: 40%;
}
.premierDivProfilPage{

    background-color: #2D176A;
    width: 80%;
    height: 2px;
    margin-left: 15%;

}
#monText{

    text-align: left;
    font-size: 19px;
    margin-left: 20%;
}
.editer{

    position: relative;
    margin-top: -50%;
    margin-left: 10%;

}
.consulter{

    position: relative;
    margin-top: 8%;
    margin-left: 9%;
    
}
.police{

    position: relative;
    margin-top: 7%;
    margin-left: 9%;
    

}
#image1{

    width: 10%;
    
}
#image2{

    width: 10%;
    
}
#image3{

    width: 10%;
    
}
.deuxiemeDivProfilPage{

    background-color: #b5adad19;
    width: 100%;
    height: 59px;
    margin-top: -15%;
    text-align: center;
}
#parametres{

    font-size: 1rem;

}
.mesParametres{

    text-align: center;
    margin-top: -14%;
}
.consult{

    position: relative;
    margin-top: -10%;

}
#conditiong{

    text-align: left;
    margin-left: 15%;
}
.edit{

    position: relative;
    margin-top: -10%;

}
.editr{

    position: relative;
    margin-top: -10%;
}
.consultr{

    position: relative;
    margin-top: -10%;
}

.polce{
    position: relative;
    margin-top: -13%;

}
.troisiemmeDivProfilPage{

    background-color: #2D176A;
    width: 150px;
    height: 30px;
    margin-top: 6%;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    
    
}
.boutonDeconnection{

    color: #fff;
    text-decoration: none;
    
}
.seDeconnecter{

    text-align: center;
    position: relative;
    margin-top: -7%;
    margin-left: 4%;
}
.monMenu1{

    background-color: #c8141439;
    width: 100%;
    height: 20%;  
    border-radius: 5px;
    position: relative;
    margin-top: 20%;
}
.monIconRetour{

    position: relative;
    margin-top: -69%;
    margin-left: 80%;

}
#parametrs{

    font-size: 2rem;
}
.ourFormules{

    color: #D61BA1;
    position: relative;
    margin-top: -8%;
    margin-left: 25%;
    text-decoration: none;
    
}
.ourProduct{

    color: #D61BA1;
    text-decoration: none;
    position: relative;
    text-align: left;
    margin-left: 5%;
   
}
.troisiemmeDivProfilPage5{


    background-color: #B5ADAD;
    width: 130px;
    height: 30px;
    margin-top: -8%;
    text-align: center;
    margin-left: 3%;
    border-radius: 10px;

}
.quatriemeDivProfilPage5{ 

    background-color: #B5ADAD;
    width: 130px;
    height: 30px;
    margin-top: -10%;
    text-align: center;
    margin-left: 50%;
    border-radius: 10px;

}
#Prouits{

    text-align: left;
    color: #000;
    font-size: 15px;
    margin-top: 13%;

}
.nouveauDevis{

    position: relative;
    margin-left: -53%;
    margin-top: -9%;

}
.revenirAuDevis{

    position: relative;
    margin-left: 51%;
    margin-top: -9%;
    
}
.mesDevis{
    position: relative;
    margin-left: -56%;
    margin-top: -8%;
}
.mesContrats{
    position: relative;
    margin-left: 52%;
    margin-top: -8%;
}
.boutton2Page51{

    background-color: #B5ADAD ;
    height: 5px;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    margin-left: 53%;
    margin-top: -14%;
}
#nouveauDevisPage{

    color: #D61BA1;
    font-size: 20PX;
    margin-left: -50%;

}
#monImageNouveauDevis{

    position: relative;
    width: 70%;
    margin-top: -5%;
    margin-left: 15%;

}
.boutonSoucrireNouveauDevis{

    background-color: #B5ADAD;
    height: 5px;
    width: 125px;
    height: 30px;
    border-radius: 5px;
    margin-left: 20%;
    position: relative;
    margin-top: 5%;

}
.monIconRetourNouveauDevis{

    position: relative;
    margin-top: -150%;
    margin-left: 80%;

}
.Scouscrire{

    position: relative;
    margin-left: 26%;
    margin-top: -8%;
    
}
#maSouscription{

    color: #D61BA1;
    text-decoration: none;
    font-size: 20px;
}
.monMenuNouveauDevis{

    position: relative;
    margin-top: -57%;
    
}
.monMenuPageNouveauDevis{

    background-color: #c8141439;
    width: 85%;
    height: 40px;  
    border-radius: 5px;
    position: relative;
    margin-top: 126%;
    margin-left: 6%;

}
.souscriptionFormuleBronz{

    position: relative;
    margin-left: 26%;
    margin-top: -8%;

}
.monVehicul{

    position: relative;
    width: 100%;

}
.iconeRetourPageBronz{

    width: 40px;
    height: 40px;
    padding-top: 8%;
    margin-left: -550px;
    margin-top: 28%;

}
.monMenuPageBronz{

    background-color: #c8141439;
    width: 85%;
    height: 40px;  
    border-radius: 5px;
    position: relative;
    margin-top: 120%;
    margin-left: 6%;

}.monVehiculPremium{

    position: relative;
    width: 100%;
    height: 200px;

}
.iconeRetourPagePremium{

    width: 40px;
    height: 40px; 
    margin-left: -550px;
    margin-top: 90%;

}.monMenuPagePremium{

    background-color: #c8141439;
    width: 85%;
    height: 40px;  
    border-radius: 5px;
    position: relative;
    margin-top: 109%;
    margin-left: 6%;

}
.monLabel1{

    text-align: left;
    padding-left: 5%;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;

}
#monAmpoul{

    width: 30PX;
    margin-left: 1%;

}
#monAmpoulPageUne{

    width: 40px;

}
.monAmpoul2{

    position: relative;
    margin-top: -16%;
    
}
#monAmpoulPageDeux1{
    
    width: 40px;
}
#monAmpoulPageDeux{
    width: 40px;

}
.maListeDeroulante{

    margin-left: 3%;
    position: relative;
    margin-top: -5%;
     
}
.maSouscriptionPageUne{

    margin-left: 5%;

}
.maListeDeroulante2{

    margin-left: 10%;
    position: relative;
    margin-top: -7%;

}
.monLabel2{

    text-align: left;
    padding-left: 5%;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;

}
.mesLabels{

    position: relative;
    margin-left: 25%;
    margin-top: -6%;

}
.votreDateDeNaissance{

    text-align: left;
    margin-left: -30%;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;

}.maListeDeroulante3{

    margin-left: 35%;
    position: relative;
    margin-top: -7%;

}
.monAmpoul3{

    position: relative;
    margin-left: -30%;
    margin-top: -21%;
  
}
.monLabel12{

    text-align: left;
    margin-left: -25%;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;
    
}
.maListeDeroulante4{

    margin-left: 25%;
    position: relative;
    margin-top: -9%;

}
.monLabel123{

    text-align: left;
    margin-left: -38%;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;

}
.datePermirDeConduire{

    position: relative;
    margin-left: 30%;
    margin-top: -10%;
}
.monLabel1234{

    text-align: left;
    margin-left: 3%;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;
    font-size: 20PX;
    
}
#mode11{

    width: 100%;
    position: relative;
    margin-top: -10%;

}
.maListeDeroulantePageTrois{

    position: relative;
    margin-left: 50%;
    margin-top: -5%;

}
.monAmpoulPageTroisSouscription{

    position: relative;
    margin-left: 20%;
    margin-top: -35%;

}
.monIconeDeValidation{

    position: relative;
    margin-left: 30%;
    margin-top: -10%;
    
}
.EtapeListeDeroulante{

    position: relative;
    margin-left: 50%;
    margin-top: -5%;

}
#monAmpoul{

    width: 70%;

}
.bouttonSuivantPageInscriptionTrois{

    background-color: #2D176A;
    border: none;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    width: 100px;
    height: 5px;
    position: relative;
    margin-left: 30%;
    margin-top: -15%;

}
.SouscriptionTrois{

    text-align: left;
    font-weight: 700; /*mettre en gras*/
    color: #D61BA1;
    font-size: medium;
   
}
#ValiderSouscription{
    width: 70px;
    
}
#souscriptionValide{

    font-size: 20px;
    margin-left: -10%;
    
}
.souscriptionValidee{

    margin-left: 20%;

    
}
.iconeOk{

    
    position: relative;
    margin-left: -110%;
    margin-top: -25%;

}
#iconeOkOk{

    width: 40px;

}
#mainDansLamain{

    width: 100%;
    position: relative;
    margin-top: 6%;
    
}
.monLogoPageValidation{

    width: 50%;
    position: relative;
    margin-left: -8%;
    
}
.monMenuPageValidation{

    background-color: #c8141439;
    width: 100%;
    height: 20%;  
    border-radius: 5px;
    position: relative;
    margin-top: 18%;

}
.iconesMenuValidation{

    position: relative;
    margin-top: 16%;
    margin-left: 5%;

    

}


